.AHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.decoAdmin {
  height: 2rem;
  width: 10rem;
  background-color: brown;
}
.box-deco {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.box-deco2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
