* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.User {
  width: 100%;
}
.user-bare {
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}
thead {
  border: 1px solid black;
  width: 100%;
}
thead th {
  padding: 10px;
  border: 1px solid black;
  padding: 1rem;
}
thead tr th p {
  width: 14rem;
}

tbody {
  width: 100%;
}
tbody tr {
  border: 1px solid black;
  border-radius: 10px;
}
tbody tr td {
  padding: 1rem;
  background: whitesmoke;
  padding-left: 40px;
}
tbody tr td a {
  text-decoration: none;
  color: blue;
}

.image-utilisateur {
  width: 50px;
  height: 50px;
}
.image-utilisateur img {
  border-radius: 100px;
}
.User h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.del_ubtn {
  cursor: pointer;
  color: red;
}
