*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.containerRec{
    width: 100%;

}

.containerRec .grand_sectionRec .centerRec .centerRectangle{
    height: 12rem;
    width: 20rem;
    margin-left: 1rem;
    
}
.containerRec .grand_sectionRec .centerRec .centerRectangle img{
   border-radius: 10px;
}

.containerRec .grand_sectionRec .centerRec .centerRectangle p{
    color: white;
}

