* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.haut1 {
  margin-top: 13rem;
  width: 100%;
}
.react-multi-carousel-list {
  width: 100%;
}

.carousel-item img {
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}
.cadre_carousel .carousel-item {
  width: 100%;
}

.react-multi-carousel-item--active img {
  transform: scale(1.05); /* Effet de zoom sur l'image active */
}

.react-multi-carousel-item {
  width: 100%;
}

.Acceuil_Ac {
  width: 100%;
  background-color: rgb(49, 109, 118);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23000000' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
  padding-bottom: 3rem;
}

.Acceuil_acc {
  width: 100%;
  margin-top: 20rem;
}
.Acceuil_acc .titre_pasManquer {
  max-width: 100%;
  display: flex;
  overflow: auto;
  width: 100%;
  gap: 2rem;
  scrollbar-width: none;
  padding: 22px 22px;
}

.Acceuil_acc .titre_Info {
  max-width: 100%;
  display: flex;
  overflow: auto;
  width: 100%;
  gap: 2rem;
  scrollbar-width: none;
  padding: 22px 42px;
}

.haut {
  width: 100%;
  background: black;
  margin-top: 3rem;
}
.haut1 {
  width: 100%;
  margin-top: 4rem;
  padding-left: 1rem;
}

.titre_Info {
  width: 100%;
  margin-top: 3rem;
}

.container_haut1 span {
  color: red;
}
.section_haut1 {
  width: 100%;
  padding-left: 1rem;
}
.section_haut1 h3 {
  margin-top: 2rem;
}

.acceuil_menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_container {
  width: 100%;
  height: 50rem;
  background: gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.e-commerce {
  font-weight: bold;
  font-size: 1rem;
}
.div_text_acceuil {
  width: 100%;
  margin-top: 4.2rem;
}

.box_img_invisible {
  position: absolute;
  margin-top: -10rem;
  width: 100%;
  display: flex;
  padding: 2rem;
}

.box_img1 {
  width: 39rem;
  background: white;
  padding: 12px;
  border-radius: 10px;
  margin-top: 4rem;
  border: 2px solid black;
}
.box_acceuil1 {
  height: 5rem;
  width: 100%;
  border: 1px solid black;
}
.box_img1 .container_box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 1rem;
}
.acceuil_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.btn_acceuil {
  background: red;
  width: 12rem;
  border-radius: 10px;
  align-items: center;
  margin-right: 0px;
}
.container_box_label {
  display: flex;
  flex-direction: column;
}

.container_box_label input {
  margin-top: 0.5rem;
}

.acceuil_intro {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.acceuil_box_milieux {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 5rem;
}
.acceuil_box_milieux span {
  color: rgb(230, 44, 44);
}
.acceuil_dev_titre1 span {
  color: rgb(230, 44, 44);
}

.acceuil_box_haut {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 5rem;
}
.acceuil_box_haut h3 {
  margin-top: 1rem;
}
.acceuil_box_haut h3 a {
  color: red;
  text-decoration: none;
}

.acceuil_box_haut span {
  color: rgb(230, 44, 44);
}

.acceuil_box_milieux p {
  margin-top: 2rem;
}
.acceuil_box_haut p {
  margin-top: 2rem;
}

.acceuil_titre {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.acceuil_titre .titre {
  height: 2rem;
  width: 100%;
  border: 1px solid black;
  margin-top: 2rem;
  margin-right: 10px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.acceuil_titre .titre a {
  text-decoration: none;
  color: white;
}

.acceuil_intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.acceuil_dev {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.image_vetement {
  max-width: 100%;
  height: 45rem;
  margin-top: 3rem;
  padding: 1rem;
}
.image_vetement img {
  border-radius: 15px;
}

.dev1 {
  width: 100%;
}
.dev2 {
  width: 100%;
  margin-top: 2rem;
  padding-left: 1rem;
}
.barre_h {
  width: 100%;
}
.container_h {
  margin-top: 5rem;
}
.acceuil_dev_titre1 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.acceuil_dev_titre2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  margin-top: 5rem;
  padding: 1.5rem;
}

.titre2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.titre_1 {
  margin-right: 1rem;
  width: 12rem;
  border-radius: 100%;
  background: rgb(229, 197, 138);
  display: flex;
  justify-content: center;
  align-items: center;
}
.titre_2 {
  margin-right: 1rem;
  width: 12rem;
  border-radius: 100%;
  background: rgb(229, 197, 138);
  display: flex;
  justify-content: center;
  align-items: center;
}
.titre_3 {
  margin-right: 1rem;
  width: 12rem;
  border-radius: 100%;
  background: rgb(229, 197, 138);
  display: flex;
  justify-content: center;
  align-items: center;
}
.titre_4 {
  margin-right: 1rem;
  width: 12rem;
  border-radius: 100%;
  background: rgb(229, 197, 138);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_like {
  font-size: 25px;
}

.cadre_description span {
  color: rgb(210, 51, 51);
}
.box-titre-image {
  margin-bottom: 20rem;
}

.container_haut1 {
  margin-top: 1rem;
}
.box-titre-image {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
}
.box-prix {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.largeur-input {
  width: 125px;
}

@media screen and (min-width: 768px) {
  .haut {
    width: 100%;
  }

  .Acceuil_acc {
    width: 100%;
    margin-top: 20rem;
  }

  .box_img_invisible {
    position: absolute;
    margin-top: -20rem;
    width: 100%;
    display: flex;
    padding: 2rem;
  }

  /* responsive de carousel */
  .box_carousel {
    width: 100%;
  }
  .box_carousel .carousel-container {
    width: 100%;
    height: 100%;
  }

  .acceuil_dev_titre1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }

  .box_img1 {
    width: 39rem;
    background: white;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10rem;
  }
  .carousel-container {
    height: 50rem;
  }

  .acceuil_dev {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 4rem;
  }

  .dev2 {
    width: 735px;
    height: 500px;
  }
  .dev2 img {
    border-radius: 10px;
  }

  .acceuil_dev_titre2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    margin-top: 5rem;
  }

  .box_img1 {
    width: 45rem;
    background: white;
    padding: 5rem;
  }
  .box_img1 .container_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 1rem;
    align-items: center;
  }
}

@media screen and (min-width: 990px) {
  /* responsive de carousel */
  .box_carousel {
    width: 100%;
  }
  .box_carousel .carousel-container {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  /* responsive de carousel */
  .box_carousel {
    width: 100%;
  }
  .box_carousel .carousel-container {
    width: 100%;
    height: 100%;
  }
  .carousel-item {
    height: 50rem;
  }
}
