* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container_profil {
  width: 100%;
  margin-bottom: 35rem;
}
.noir {
  background-color: rgb(49, 109, 118);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23000000' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.cadre_video {
  display: none;
}

.lien_profil {
  text-decoration: none;
}

.info_width {
  width: 100%;
}
hr {
  width: 90%;
  margin-top: 1rem;
  color: black;
}

.info_profil .ecrit_info p {
  color: black;
  font-weight: bold;
  font-size: 19px;
}

.info_profil {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn_profil button {
  margin-top: 2rem;
}

.info_profil .ecrit_info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 3rem;
  margin-top: 3rem;
}

.text_cadre {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: red;
  width: 90%;
  height: 30rem;
  padding: 12px 12px;
  border-radius: 10px;
  border: 3px solid gray;
  margin-top: 2rem;
}
.text_cadre p {
  margin-top: 1rem;
}

.text_cadre h2 {
  margin-top: -2rem;
}

.box_image_profil {
  margin-top: 15rem;
}

.grand_profil {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

.petit_profil {
  width: 100%;
  height: 20rem;
}

.petit_profil .noir .vide_profil h5 {
  margin-top: 1rem;
}

.box_image_profil_cadre {
  border: 1rem solid black;
}

.info_profil .box_image_profil {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.barre {
  width: 100%;
  height: 35px;
  margin-top: 1rem;
  padding-top: 0.3rem;
  display: flex;
  background-color: gray;
  color: white;
  font-weight: bold;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
}

.petit_profil p {
  color: white;
}
.nom {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  margin-left: 0.5rem;
}
/* .box_profil {
  width: 20rem;
} */
.box_profil p {
  margin-top: 2rem;
  margin-left: 0.5rem;
}

.logo_profil {
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.blanc {
  background: black;
  padding: 3rem;
  border-radius: 10px;
}

.cadre_video {
  width: 100%;
}

.cadre_video_parent {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.box_video {
  height: 20rem;
  width: 100%;
  margin-right: 25px;
  margin-left: 25px;
}
.box_video img {
  border-radius: 10px;
}

.box_video .ecrit {
  font-weight: 400;
  color: rgb(11, 189, 130);
  font-size: 16px;
}

.vide_profil {
  background: gray;
  padding: 22px 22px;
}

.vide_profil h3 {
  color: white;
  font-weight: bold;
  font-size: 22px;
  margin-top: 2rem;
}

.barre {
  background: black;
}

.barre_vide {
  width: 100%;
  background: black;
  padding: 12px 12px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.box_video {
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .vide_profil {
    width: 15rem;
    background: gray;
    border-right: 2px solid black;
    position: fixed;
    height: 100%;
    padding: 10px 10px;
  }
  .grand_profil {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
  }

  .vide_profil h3 {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 25px;
  }

  .barre {
    background: black;
  }

  .barre_vide {
    width: 100%;
    background: black;
    padding: 12px 12px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-top: 2rem;
    font-size: 22px;
    font-weight: bold;
    color: white;
  }

  .info_width {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(223, 216, 216);
    margin-top: -0.9rem;
    padding-left: 15rem;
  }

  .text_cadre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: red;
    width: 90%;
    height: 30rem;
    padding: 12px 12px;
    border-radius: 10px;
    border: 3px solid gray;
    padding-left: 6rem;
    margin-top: 2rem;
  }
  .text_cadre h2 {
    margin-top: 1rem;
  }

  .box_video {
    height: 20rem;
    width: 100%;
  }
  .cadre_video_parent {
    padding-left: 14rem;
  }

  .box_video .ecrit {
    font-weight: 400;
    color: rgb(11, 189, 130);
    font-size: 20px;
  }
}

@media screen and (min-width: 990px) {
  .vide_profil {
    width: 15rem;
    background: gray;
    border-right: 2px solid black;
    position: fixed;
    height: 100%;
    padding: 10px 10px;
  }

  .vide_profil h3 {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 25px;
  }

  .barre_vide {
    width: 100%;
    background: black;
    padding: 12px 12px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-top: 2rem;
    font-size: 22px;
    font-weight: bold;
    color: white;
  }

  .info_width {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(223, 216, 216);
    margin-top: -0.9rem;
    padding-left: 15rem;
  }

  .text_cadre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: red;
    width: 90%;
    height: 30rem;
    padding: 12px 12px;
    border-radius: 10px;
    border: 3px solid gray;
    padding-left: 6rem;
    margin-top: 2rem;
  }

  .box_video {
    height: 20rem;
    width: 100%;
  }
  .cadre_video_parent {
    padding-left: 14rem;
  }

  .box_video .ecrit {
    font-weight: 400;
    color: rgb(11, 189, 130);
    font-size: 20px;
  }
}
